.feynman {
  position: relative;
  height: 890px;
  background: url(../../images/feynman.png), #f2f2f2;
  background-repeat: no-repeat;
  background-position:left bottom;
  background-size: 867px 637px;
  padding-top: 100px;
}